<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="referrer" content="no-referrer">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self'; img-src 'self'; object-src 'none'; frame-src 'none'; frame-ancestors 'none'; form-action 'none'; base-uri 'self'; upgrade-insecure-requests; block-all-mixed-content;">

<meta name="description" content="{meta_short_description}">
<meta property="og:title" content="{meta_title}" />
<meta property="og:description" content="{meta_short_description}" />
<meta property="og:site_name" content="data.verifiedjoseph.com">
<meta property="og:url" content="https://data.verifiedjoseph.com/{set_url}" />